<div class="container" role="main">
    <h1>Page 1</h1>

    <!-- Solution to Q2 -->
    <div class="well">
        <h3>Q2. Sharing data between pages</h3>
        <p>Lets share data with <a ui-sref="page({id: 2})">Page 2</a> and <a ui-sref="page({id: 3})">Page 3</a></p>
        <input type="text" ng-model="commonService.sharedValue"><br>
        You typed: {{commonService.sharedValue}}
    </div>

    <!-- Solution to Q5 -->
    <div class="well">
        <h3>Q5. Phone formatter</h3>
        <p>Input number to format it as phone number like: (541) 754-3010</p>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="phone">Input phone number</label>
                    <input type="text" class="form-control" id="phone" ng-model="phoneNumber" phone-formatter>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Model value</label>
                    <input class="form-control" id="phoneNumber" ng-model="phoneNumber" disabled>
                </div>
            </div>
        </div>
    </div>

    <!-- Solution to Q6 -->
    <div class="well">
        <h3>Q6. Currency formatter</h3>
        <p>Input number and it will be formatted to currency:</p>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="currency">Input amount</label>
                    <input type="text" class="form-control" id="currency" ng-model="currencyAmount" currency-formatter>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Model value</label>
                    <input class="form-control" id="currencyAmount" ng-model="currencyAmount" disabled>
                </div>
            </div>
        </div>
    </div>

    <!-- Solution to Q7 -->
    <div class="well">
        <h3>Q7. Sum and distribution</h3>
        <p>Sum 3 inputs to 4th field and distribute 4th to 3 input fields</p>
        <div class="row">
            <div class="col-xs-12 col-md-3" ng-repeat="input in inputValues track by $index">
                <div class="form-group">
                    <label for="input{{$index+1}}">Input #{{$index+1}}</label>
                    <input type="number" class="form-control" id="input{{$index+1}}" ng-model="input.value" ng-change="sumInputs()">
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="input-sum">Sum</label>
                    <input type="number" class="form-control" id="input-sum" ng-model="sumCurrent" ng-change="distributeSum()" ng-model-options="{ debounce: 600 }">
                </div>
            </div>
        </div>
    </div>

    <!-- Solution to Q8 -->
    <div class="well">
        <h3>Q8. Jump focus on max/min length</h3>
        <p>Create 3 inputs each with maximum char. length 5. When entering the 5th char. in an input the
            cursor should jump to the next input right after the char. has been inserted. When deleting the 1st
            char. of an input the cursor should jump at the end of previous input right after that char. has
            been deleted.
        </p>
        <div class="form-inline q8">
            <div class="form-group" jump-focus>
                <input type="text" maxlength="5" class="form-control">
                <input type="text" maxlength="5" class="form-control">
                <input type="text" maxlength="5" class="form-control">
            </div>
        </div>
    </div>

</div>